Series和Datafram索引的原理一样，我们以Dataframe的索引为主来学习
* 列索引：df['列名']  （Series不存在列索引）
* 行索引：df.loc[]、df.iloc[]

选择列 / 选择行 / 切片 / 布尔判断

In [1]:
import numpy as np
import pandas as pd  
# 导入numpy、pandas模块

In [7]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                 index = ['one','two','three'],
                 columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print("-----------------")
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['one','two']]
print(data3,type(data3))
print(data4,type(data4))

               a          b          c          d
one    85.865907  89.348630  29.745563  54.923975
two    35.947449  27.516658  36.572493  63.536654
three  49.389258  97.561495  34.304792  63.416868
one      85.865907
two      35.947449
three    49.389258
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one    85.865907  29.745563
two    35.947449  36.572493
three  49.389258  34.304792 <class 'pandas.core.frame.DataFrame'>
-----------------
a    85.865907
b    89.348630
c    29.745563
d    54.923975
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one  85.865907  89.348630  29.745563  54.923975
two  35.947449  27.516658  36.572493  63.536654 <class 'pandas.core.frame.DataFrame'>

In [10]:
# df[] - 选择列
# 一般用于选择列，也可以选择行，但不推荐，行索引用.loc与.iloc

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                 index = ['one','two','three'],
                 columns = ['a','b','c','d'])
print(df)
print("---------------")

data1 = df['a']
data2 = df[['b','c']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    57.811173  36.087253  70.668591  30.270128
two    42.976706  54.116624   1.669168  59.168323
three   7.661555   2.280435  34.518855   2.856719
---------------
one      57.811173
two      42.976706
three     7.661555
Name: a, dtype: float64
               b          c
one    36.087253  70.668591
two    54.116624   1.669168
three   2.280435  34.518855

In [66]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['one','two','three','four'],
                  columns=['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  columns=['a','b','c','d'])
print(df1)
print(df2)
print("--------------")

data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)
print('单标签索引\n----------')
# 单个标签索引，返回Series

data3 = df1.loc[['two','three','four']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)
print('多标签索引\n---------')
# 多个标签索引，如果标签不存在，则返回NaN
# 顺序可变
# 这里‘five’标签不存在，所以有警告

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print("切片索引")
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    68.017941  66.360568  82.619463   7.718863
two    92.420527  71.695547  53.427392  34.982579
three  66.245273  10.056036  35.917913  23.492350
four   12.576416  31.067237  12.103772  55.277255
           a          b          c          d
0  39.919311  20.758568  96.763376  20.279125
1  10.748859   3.210468  12.567123  65.261190
2  34.369041   9.788321  81.056037  73.339182
3  13.240179  91.243329  63.649843  14.811583
--------------
a    68.017941
b    66.360568
c    82.619463
d     7.718863
Name: one, dtype: float64
a    10.748859
b     3.210468
c    12.567123
d    65.261190
Name: 1, dtype: float64
单标签索引
----------
               a          b          c          d
two    92.420527  71.695547  53.427392  34.982579
three  66.245273  10.056036  35.917913  23.492350
four   12.576416  31.067237  12.103772  55.277255
           a          b          c          d
3  13.240179  91.243329  63.649843  14.811583
2  34.369041   9.788321  81.056037  73.339182
1  10.748859   3.210468  12.567123  65.261190
多标签索引
---------
               a          b          c          d
one    68.017941  66.360568  82.619463   7.718863
two    92.420527  71.695547  53.427392  34.982579
three  66.245273  10.056036  35.917913  23.492350
           a          b          c          d
1  10.748859   3.210468  12.567123  65.261190
2  34.369041   9.788321  81.056037  73.339182
3  13.240179  91.243329  63.649843  14.811583
切片索引

In [67]:
df1.loc['five']
# 这里‘five’标签不存在，所以有警告

KeyError: 'five'

In [22]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
# print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print("切片索引")
# 切片索引
# 末端不包含

               a          b          c          d
one    12.150587  12.664411  45.977740  15.517298
two    48.091981   2.890725  97.436695   2.505917
three  31.118295  71.449865  43.369161  76.722277
four   27.008918  31.903042  40.263193  74.078688
------
a    12.150587
b    12.664411
c    45.977740
d    15.517298
Name: one, dtype: float64
a    27.008918
b    31.903042
c    40.263193
d    74.078688
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    12.150587  12.664411  45.977740  15.517298
three  31.118295  71.449865  43.369161  76.722277
               a          b          c          d
four   27.008918  31.903042  40.263193  74.078688
three  31.118295  71.449865  43.369161  76.722277
two    48.091981   2.890725  97.436695   2.505917
               a          b          c          d
two    48.091981   2.890725  97.436695   2.505917
three  31.118295  71.449865  43.369161  76.722277
               a          b          c          d
one    12.150587  12.664411  45.977740  15.517298
three  31.118295  71.449865  43.369161  76.722277
切片索引

In [24]:
# 布尔型索引
# 多用于索引行

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print("---------")

               a          b          c          d
one    67.091634  24.793303  85.724461  73.690458
two    35.834529   5.165883   6.105362  81.527865
three  93.309647  34.686941  68.712862  39.348307
four   86.392492   5.525520  72.707925  23.267259
---------

In [27]:
b1 = df < 20
print(b1,type(b1))
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

           a      b      c      d
one    False  False  False  False
two    False   True   True  False
three  False  False  False  False
four   False   True  False  False <class 'pandas.core.frame.DataFrame'>
        a         b         c   d
one   NaN       NaN       NaN NaN
two   NaN  5.165883  6.105362 NaN
three NaN       NaN       NaN NaN
four  NaN  5.525520       NaN NaN
------

In [29]:
b2 = df['a'] > 50
print(b2,type(b2))
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列

one       True
two      False
three     True
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
one    67.091634  24.793303  85.724461  73.690458
three  93.309647  34.686941  68.712862  39.348307
four   86.392492   5.525520  72.707925  23.267259
------

In [32]:
b3 = df[['a','b']] > 50
print(b3,type(b3))
print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN
# 注意这里报错的话，更新一下pandas → conda update pandas

           a      b
one     True  False
two    False  False
three   True  False
four    True  False <class 'pandas.core.frame.DataFrame'>
               a   b   c   d
one    67.091634 NaN NaN NaN
two          NaN NaN NaN NaN
three  93.309647 NaN NaN NaN
four   86.392492 NaN NaN NaN
------

In [72]:
df[['a','b']] > 50

           a      b
one    False  False
two    False   True
three   True   True
four    True  False

In [73]:
df[df[['a','b']] > 50]

               a          b   c   d
one          NaN        NaN NaN NaN
two          NaN  78.830728 NaN NaN
three  90.401590  71.410020 NaN NaN
four   50.147962        NaN NaN NaN

In [34]:
b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

           a     b      c      d
one    False  True  False  False
three  False  True  False   True <class 'pandas.core.frame.DataFrame'>
        a          b   c          d
one   NaN  24.793303 NaN        NaN
two   NaN        NaN NaN        NaN
three NaN  34.686941 NaN  39.348307
four  NaN        NaN NaN        NaN
------

In [70]:
df.loc[['one','three']] < 50

           a      b     c      d
one     True   True  True  False
three  False  False  True  False

In [68]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    42.068351  36.925183  19.533430  76.948245
two    36.986052  78.830728  65.126757  66.449662
three  90.401590  71.410020  39.464290  89.691681
four   50.147962  44.660405  34.509222  71.500462
------
one      42.068351
three    90.401590
Name: a, dtype: float64
               b         c          d
one    36.925183  19.53343  76.948245
three  71.410020  39.46429  89.691681
             a          b          c          d
one  42.068351  36.925183  19.533430  76.948245
two  36.986052  78.830728  65.126757  66.449662

In [69]:
df[['b','c']][df['a']>50]

               b          c
three  71.410020  39.464290
four   44.660405  34.509222

In [77]:
df[df['a']>50][['b','c']]

               b          c
three  71.410020  39.464290
four   44.660405  34.509222

In [75]:
ar = np.random.randn(20,2)*10
ar[ar>5],ar

(array([10.71136662, 25.7264874 ,  8.87706234,  6.81855967, 11.77341836,
         6.06201123, 10.58213833,  9.24424266, 18.76237471, 21.26392447,
        16.94649676]), array([[ -5.11463809, -11.91289237],
        [ -8.42310928,  10.71136662],
        [ 25.7264874 ,   3.95063601],
        [  2.28578641,   8.87706234],
        [  2.8680453 ,  -6.36172337],
        [ -2.36654968,   0.75250115],
        [  2.31479764, -16.32080559],
        [  6.81855967, -11.26714774],
        [ 11.77341836,   6.06201123],
        [ -1.76275567,  10.58213833],
        [  9.24424266,  -4.91151018],
        [ -0.34756541,   4.34342896],
        [ -2.76499645,   0.69142237],
        [-14.11326467,  -7.83395055],
        [  3.88392683,   4.91577625],
        [-21.7602462 ,   0.7887287 ],
        [ 18.76237471, -17.17450864],
        [ 21.26392447,  -5.9731915 ],
        [ -2.7964685 ,  -0.85250285],
        [ 16.94649676,   0.6630463 ]]))

######## 课后小练习,请查看 “pandas课程作业.docx”  ########

作业1：如图创建Dataframe(4*4，值为0-100的随机数)，通过索引得到以下值
* 索引得到b，c列的所有值
* 索引得到第三第四行的数据
* 按顺序索引得到two，one行的值
* 索引得到大于50的值

作业2：创建一个Series，包含10个元素，且每个值为0-100的均匀分布随机值，index为a-j，请分别筛选出：
* 标签为b，c的值为多少
* Series中第4到6个值是哪些？
* Series中大于50的值有哪些？

In [78]:
# 作业1 

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index=['one','two','three','four'],
                 columns=['a','b','c','d'])
print(df)
print("------------------")
print(df[['b','c']])
print(df.loc[['three','four']])
# print(df.iloc[[2,3]])
print(df.iloc[[1,0]])
print(df[df > 50])

               a          b          c          d
one    92.552713  35.620893  50.896262   3.296797
two    54.601670  57.087163  53.059050  49.067173
three  93.455991  42.087070   6.777460  31.258537
four   44.472669  45.159501  12.074118  11.022554
------------------
               b          c
one    35.620893  50.896262
two    57.087163  53.059050
three  42.087070   6.777460
four   45.159501  12.074118
               a          b          c          d
three  93.455991  42.087070   6.777460  31.258537
four   44.472669  45.159501  12.074118  11.022554
               a          b          c          d
three  93.455991  42.087070   6.777460  31.258537
four   44.472669  45.159501  12.074118  11.022554
             a          b          c          d
two  54.601670  57.087163  53.059050  49.067173
one  92.552713  35.620893  50.896262   3.296797
               a          b          c   d
one    92.552713        NaN  50.896262 NaN
two    54.601670  57.087163  53.059050 NaN
three  93.455991        NaN        NaN NaN
four         NaN        NaN        NaN NaN

In [64]:
# 作业2
df = pd.DataFrame(np.random.randn(10)*100,
                 index=['a','b','c','d','e','f','g','h','i','j'])
print(df)

print(df.loc[['b','c']])
print(df.iloc[3:6])
print(df[df > 50])

            0
a  106.448445
b   52.148325
c  -71.818929
d  165.708553
e -103.110515
f   47.536683
g   45.596872
h   44.526641
i -168.760806
j  -76.044108
           0
b  52.148325
c -71.818929
            0
d  165.708553
e -103.110515
f   47.536683
            0
a  106.448445
b   52.148325
c         NaN
d  165.708553
e         NaN
f         NaN
g         NaN
h         NaN
i         NaN
j         NaN

In [81]:
# 作业2
s = pd.Series(np.random.randn(10)*100,
             index=['a','b','c','d','e','f','g','h','i','j'])
print(s.loc['b'],s.loc['c'])
print(s.iloc[4],s.iloc[6])
print(s[s>50].index.tolist())

-38.67406264181823 120.45847573997523
-41.6906777090378 -59.06962350129509
['a', 'c', 'd']