1、什么是语句？

每一个代码，都是一个语句
* 赋值语句
* 运行函数/方法
* 条件语句：if
* 循环语句：for/while循环，遍历序列/字典等
* 函数语句：def函数等等
* 模块语句：import

In [12]:
import numpy as np

2、条件判断：if语句

Python条件语句是通过一条或多条语句的执行结果（True或者False）来决定执行的代码块。

if 判断条件：
    执行语句……
else：
    执行语句……
    
** 开始有缩进的概念

In [2]:
# 基本判断语句

age = 12
if age < 18:
    print('18岁以下不宜观看')
# if语句后面必须有 ： 
# 自动缩进
# if语句写完后，要退回原有缩进继续写
# Python代码的缩进规则：具有相同缩进的代码被视为代码块

18岁以下不宜观看

In [4]:
name = '小红'
n = 10
if name == '小红':
    print('a')
    if n > 5:
        print('b')
        print('hehe')

a
b
hehe

In [5]:
# 基本判断语句

age = 12
if age < 18:
    print('18岁以下不宜观看')
# if语句后面必须有 ： 
# 自动缩进
# if语句写完后，要退回原有缩进继续写
# Python代码的缩进规则：具有相同缩进的代码被视为代码块

18岁以下不宜观看

In [7]:
# 两种条件判断:if-else

flag = False
name = 'python'
if name == 'python':          # 判断变量否为'python'
    flag = True               # 条件成立时设置标志为真
    print( 'welcome boss')    # 并输出欢迎信息
else:
    print(name)               # 条件不成立时输出变量名称

welcome boss

In [8]:
# 多种条件判断:if-elif-...-else

num = 2    
if num == 3:            # 判断num的值
    print('boss')       
elif num == 2:
    print('user')
elif num == 1:
    print('worker')
elif num < 0:           # 值小于零时输出
    print('error')
else:
    print('roadman')    # 条件均不成立时输出

user

In [9]:
n = 10
m = 50
if (n > 5) and (m > 100):
    print('a')
elif (n > 5) and (m < 100):
    print('b')
else:
    print('c')

b

In [10]:
# 单语句多条件判断：or and

num = 5
if num >= 0 and num <= 10:    
    print( 'hello')
# 判断值是否在0~10之间
# 输出结果: hello
 
num = 10
if num < 0 or num > 10:    
    print( 'hello')
else:
    print( 'undefine')
# 判断值是否在小于0或大于10
# 输出结果: undefine
 
num = 8
if (num >= 0 and num <= 5) or (num >= 10 and num <= 15):    
    print( 'hello')
else:
    print( 'undefine')
# 判断值是否在0~5或者10~15之间
# 输出结果: undefine

hello
undefine
undefine

小作业

① 编写一个简单的判断语句代码：输入某个成绩，如果成绩分数大于或等于60分，则返回及格，小于60分，则返回不及格

② 编写猜数字小游戏的代码：输入一个数字，分别针对猜对数字、猜错数字、输入错误给予判断

In [12]:
# a1:
score = int(input("输入某个成绩"))
if score >= 60:
    print("及格")
else:
    print("不及格")

输入某个成绩45
不及格

In [1]:
# a2:
target = 188
while(True):
    x = int(input("猜一个数字"))
    if x > target :
        print("数字过大")
    elif x == target:
        print("猜对了")
        break
    else:
        print("数字过小")

猜一个数字45
数字过小
猜一个数字49
数字过小
猜一个数字100
数字过小
猜一个数字188
猜对了

3、循环语句：for循环

for循环可以遍历任何序列的项目，如一个列表或者一个字符串。

In [2]:
# 想输出"hello world"5次怎么办？
for i in range(5):
    print('hello world!')

hello world!
hello world!
hello world!
hello world!
hello world!

In [3]:
# 通过for遍历序列，映射

lst = list(range(10))
for i in lst[::2]:
    print(i)
print("-------")
# 遍历list

age = {'Tom':18,'Jack':19,'Alex':17,'Mary':20}
for name in age:
    print(name+'年龄为：%s岁' % age[name])
# 遍历字典

0
2
4
6
8
-------
Tom年龄为：18岁
Jack年龄为：19岁
Alex年龄为：17岁
Mary年龄为：20岁

In [16]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'var1':np.random.rand(100),
                  'var2':100,
                  'var3':np.random.choice([20,30,90])})
df

        var1  var2  var3
0   0.315399   100    20
1   0.119622   100    20
2   0.053568   100    20
3   0.823996   100    20
4   0.329049   100    20
5   0.287394   100    20
6   0.530765   100    20
7   0.797239   100    20
8   0.724663   100    20
9   0.390903   100    20
10  0.879835   100    20
11  0.512115   100    20
12  0.827970   100    20
13  0.402113   100    20
14  0.405938   100    20
15  0.395531   100    20
16  0.125846   100    20
17  0.167163   100    20
18  0.912790   100    20
19  0.430558   100    20
20  0.733103   100    20
21  0.783318   100    20
22  0.518562   100    20
23  0.082484   100    20
24  0.386897   100    20
25  0.848586   100    20
26  0.719857   100    20
27  0.012031   100    20
28  0.031993   100    20
29  0.181657   100    20
..       ...   ...   ...
70  0.475785   100    20
71  0.259890   100    20
72  0.433703   100    20
73  0.815906   100    20
74  0.631974   100    20
75  0.438923   100    20
76  0.386893   100    20
77  0.924332   100    20
78  0.443856   100    20
79  0.067903   100    20
80  0.759119   100    20
81  0.286546   100    20
82  0.504416   100    20
83  0.654299   100    20
84  0.964948   100    20
85  0.855383   100    20
86  0.456815   100    20
87  0.940192   100    20
88  0.550974   100    20
89  0.558706   100    20
90  0.694830   100    20
91  0.516017   100    20
92  0.690607   100    20
93  0.930372   100    20
94  0.086778   100    20
95  0.401281   100    20
96  0.325351   100    20
97  0.449837   100    20
98  0.734649   100    20
99  0.789652   100    20

[100 rows x 3 columns]

In [17]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'var1':np.random.rand(100),
                  'var2':100,
                  'var3':np.random.choice([20,30,90])})
for col in df.columns:
    print('该列数据的均值为%.2f' % df[col].mean())
df.head()

该列数据的均值为0.53
该列数据的均值为100.00
该列数据的均值为90.00

       var1  var2  var3
0  0.727372   100    90
1  0.383821   100    90
2  0.486241   100    90
3  0.429170   100    90
4  0.157715   100    90

In [4]:
# 嵌套循环

for i in range(3):
    print(i)
    for j in range(2):
        print(i,j)
# 循环套循环，注意：尽量不要多于3个嵌套

0
0 0
0 1
1
1 0
1 1
2
2 0
2 1

小作业

① 生成一个数值列表，用for循环打印出所有元素

② 用for循环遍历一个字符串，打印出各个字母

③ 生成一个字典，分别打印出key和value

④ 用input输入一个循环次数n，打印hello world n遍

⑤ 码一个等差数列，四个变量：首项a，项数n，公差d，求和s，这几个参数都可通过input()输入

⑥ 两组列表["a", "b", "c"],[1,2,3]，用for循环把它们组成一个字典，一一对应

In [1]:
age = {'Tom':18,'Jack':19,'Alex':17,'Mary':20}
for i in age:
    print(i,age[i])

Tom 18
Jack 19
Alex 17
Mary 20

In [3]:
# an = a1 + (n - 1) * d
a1 = float(input('请输入首项'))
n = int(input('请输入项数：'))
d = float(input('请输入公差d：'))
s = 0
for i in range(n):
    an = a1 + i * d
#     print(an)
    s = s + an
print(s)

请输入首项1
请输入项数：100
请输入公差d：1
5050.0

In [4]:
lst1 = ['a','b','c']
lst2 = [1,2,3]
dic = {}
for i in range(len(lst1)):
    dic[lst1[i]] = lst2[i]
dic

{'a': 1, 'b': 2, 'c': 3}

In [5]:
lst1 = ['a','b','c']
lst2 = [1,2,3]
dic = {}
for i,j in zip(lst1,lst2):
    dic[i] = j
dic

{'a': 1, 'b': 2, 'c': 3}

4、循环语句：while循环

执行语句可以是单个语句或语句块

判断条件可以是任何表达式，任何非零、或非空（null）的值均为true。

当判断条件假false时，循环结束。

In [6]:
# 基本运行逻辑

count = 0
while count < 9:
    print('The count is:',count)
    count = count + 1
print("Good bye!")
# 这里count<9是一个判断语句，当判断为True时，则继续运行

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [ ]:
# 关于无限循环：如果条件判断语句永远为 true，循环将会无限的执行下去

var = 1
while var == 1 :  
    num = input("Enter a number  :")
    print( "You entered: ", num)
print( "Good bye!")
# 该条件永远为true，循环将无限执行下去
# 一定要避免无限循环！！

In [7]:
# while-else语句

count = 0
while count < 5:
    print(count, " is  less than 5")
    count = count + 1
else:
    print(count, " is not less than 5")
# 逻辑和if-else一样

0  is  less than 5
1  is  less than 5
2  is  less than 5
3  is  less than 5
4  is  less than 5
5  is not less than 5

In [6]:
import numpy as np
s = 0
n = 1
while s<0.3:
    ar = np.random.rand(100)
    s = ar.std()
    n += 1
    print('这是第%i次循环,该次循环结果是s为%.2f' % (n,s))

这是第2次循环,该次循环结果是s为0.28
这是第3次循环,该次循环结果是s为0.26
这是第4次循环,该次循环结果是s为0.27
这是第5次循环,该次循环结果是s为0.28
这是第6次循环,该次循环结果是s为0.28
这是第7次循环,该次循环结果是s为0.27
这是第8次循环,该次循环结果是s为0.28
这是第9次循环,该次循环结果是s为0.30
这是第10次循环,该次循环结果是s为0.29
这是第11次循环,该次循环结果是s为0.30

5、循环控制语句

break：在语句块执行过程中终止循环，并且跳出整个循环

continue：在语句块执行过程中跳出该次循环，执行下一次循环

pass：pass是空语句，是为了保持程序结构的完整性

In [8]:
# break语句

s = 0
n = 1
while n > 0:
    s = s + n
    n = n + 1
    if n == 20:
        break
print(s)
# break语句用来终止循环语句，即便循环条件没有False条件或者序列还没被完全递归完，也会停止执行循环语句。

190

In [9]:
s = 0
for i in range(10):
    for j in range(5):
        s = s + (i*j)
        print('第%i次计算' %(i+j))
        if s > 20:
            break
print('结果为%i' % s)
# 如果使用嵌套循环，break语句将停止执行最深层的循环，并开始执行下一行代码

第0次计算
第1次计算
第2次计算
第3次计算
第4次计算
第1次计算
第2次计算
第3次计算
第4次计算
第5次计算
第2次计算
第3次计算
第4次计算
第5次计算
第3次计算
第4次计算
第5次计算
第6次计算
第7次计算
第8次计算
第9次计算
结果为22

In [10]:
# continue语句

lst = []
for i in range(50):
    if i%2 == 0:
        lst.append(i)
        print(lst)
    else:
        continue
        print('本次循环的值并不能整除2')
    print('第%i次计算'%(i/2))
print('结果为%i' % s)
# continue 语句用来告诉Python跳过当前循环的剩余语句，然后继续进行下一轮循环。

[0]
第0次计算
[0, 2]
第1次计算
[0, 2, 4]
第2次计算
[0, 2, 4, 6]
第3次计算
[0, 2, 4, 6, 8]
第4次计算
[0, 2, 4, 6, 8, 10]
第5次计算
[0, 2, 4, 6, 8, 10, 12]
第6次计算
[0, 2, 4, 6, 8, 10, 12, 14]
第7次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16]
第8次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
第9次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
第10次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]
第11次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
第12次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26]
第13次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
第14次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
第15次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32]
第16次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]
第17次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36]
第18次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]
第19次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]
第20次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42]
第21次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44]
第22次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]
第23次计算
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
第24次计算
结果为22

In [11]:
# pass语句

for letter in 'Python':
    if letter == 'h':
        pass
        print( '当前字母 : h，但是我pass了')
    print( '当前字母 :', letter)
print( "Good bye!")
# pass是空语句，是为了保持程序结构的完整性。（不中断也不跳过）

当前字母 : P
当前字母 : y
当前字母 : t
当前字母 : h，但是我pass了
当前字母 : h
当前字母 : o
当前字母 : n
Good bye!